<%# needs @records,
          for_dom_id - the DOM ID of the ts-loadable that will actually load the data %>

<%= render layout: 'index_filter_layout', locals: { for_dom_id: for_dom_id } do |f| %>

<% end %>
