<%# needs   @record
%>
<%= form_for(@record,
             url: polymorphic_url(@record, format: 'html'),
             remote: request.xhr?,
             html: { class: 'resource_form' },
             data: { action: "ajax:complete->cruddy-view#update" }) do |f| %>
  <ts-form-disable-during-submit></ts-form-disable-during-submit>

  <%= hidden_field_tag :variant, params[:variant] %>
  <%= render 'validation_errors' %>

	<%= render :partial => 'form', :locals => {:f => f} %>
	<%= render 'form_actions', :f => f -%>
<% end %>
