<%# needs   f - the form builder
%>
<div class="form_actions">
  <%= f.submit class: 'primary button' %>

  <a href="#" data-action="cruddy-view#cancel" class="secondary button cancel">Cancel</a>

  <% if !f.object.new_record? && policy(f.object).destroy? %>
    <%= link_to 'Delete',
                [f.object, variant: params[:variant]],
                remote: true,
                data:   { method: :delete,
                          confirm: "Are you sure you want to delete this #{f.object.model_name.human}?",
                          disable_with: 'Deleting...' },
                class:  'button alert' %>
  <% end %>
</div>
