<%# This is a LAYOUT for a filter form.
    When rendering this layout, pass a one-argument block. The argument is the form builder.
    (for example see https://makandracards.com/makandra/47099-rails-render-a-template-that-accepts-a-block-by-using-the-layout-option-of-render)

    needs    @records            (unless starting_filter and model_class are provided)
    optional url:                (default is '.' (same path, no request params); change it if the ts-loadable should load from a different url than the current page url
             on_change_submit:   (default is _false_); if true, the submit button is hidden as well
             push_state:         (default is _false_; should the URL update?)
             starting_filter     (default is @records.filter_hash)
             model_class         (default is @records' underlaying model; helps with i18n of filter labels)
             html                (default is { class: 'index_filter' } ) any html options for the form HTML element
%>
<%
  url                 = local_assigns.fetch(:url,              {})
  push_state          = local_assigns.fetch(:push_state,       false)
  on_change_submit    = local_assigns.fetch(:on_change_submit, false) # need to wire up an action here!
  html                = local_assigns.fetch(:html,             { class: 'index_filter' })
  model_class         = local_assigns.fetch(:model_class)      { @records }

  starting_filter = @records&.filter_hash.presence  # @records might be undefined
  starting_filter ||= {} if params.key?(:filter)    # because any filter params of value will be in @records.filter_hash
  starting_filter ||= local_assigns.fetch(:starting_filter, {})

  filter_obj = TopsailCruddyViews::ModelFilterAccounted.new(starting_filter, model_class: model_class)
  form_stimulus_actions = token_list({
    'ajax:send->cruddy-view#indexListFetching'   => true,
    'ajax:success->cruddy-view#indexListFetched' => true,
    'change->cruddy-view#submitIndexFilter'      => on_change_submit,
    'submit->cruddy-view#pushState'              => push_state,
  })
%>
<fieldset class="index_filter">
  <%= form_with model: filter_obj,
                url: url,
                scope: 'filter',
                data: {
                  remote:             true,
                  cruddy_view_target: 'indexFilter',
                  action:             form_stimulus_actions
                },
                method: :get,
                html: html do |f| %>
    <% f.object.to_model_returns_self = false if TopsailCruddyViews::ModelFilterAccounted.form_with_sends_to_model? %>

    <% unless on_change_submit %>
      <%= f.submit(t('application.index_filter.submit'), style: 'float:right') %>
    <% end %>

    <%# Pass on the current request's variants.
        If your view wants to set a completely different variant, it can set the
        <input type="hidden" name="variant" value="..."/> in the block.
        Note the field name "variant" instead of "variant[]"! %>
    <%= safe_join(request.variant.map { |v| hidden_field_tag('variant[]', v, id: nil) }) %>

    <%= yield(f) %>

    <%= render 'index_filter_unaccounted', f: f %>
  <% end %>
</fieldset>
