<%# needs
          @pagy - a pagy object from the Pagy gem.
                  We allow the @pagy.count to be Float::INFINITY, if it's too many to count.
                  The same is true for @pagy.pages
%>
<% if @pagy.last_page > 1 %>
  <nav class="pagination" style="display: inline-block">
    <% if @pagy.previous_page %>
      <a href="" data-action="cruddy-view#flipPage" data-page=<%= @pagy.previous_page %> class="page prev">&leftarrow;&nbsp;Prev</a>
    <% end %>

    <% @pagy.series.each do |item| # series example: [1, :gap, 7, 8, 9, 10, 11, :gap, 36] -%>
      <% if item.is_a?(Integer) && item == @pagy.page %>
          <span class="page disabled current_page"><%= number_with_delimiter(item) %></span>
      <% elsif item.is_a?(Integer) %>
          <%= tag.a number_with_delimiter(item), href: '', class: 'page', data: { action: 'cruddy-view#flipPage', page: item } %>
      <% elsif item == :gap %>
          <span class="page gap">&hellip;</span>
      <% end %>
    <% end %>

    <% if @pagy.next_page %>
      <a href="" data-action="cruddy-view#flipPage" data-page=<%= @pagy.next_page %> class="page next">Next&nbsp;&rightarrow;</a>
    <% end %>
  </nav>
<% end %>

<span style="float:right" class="pagination_info">
  <% p_count = @pagy.count %>
  <% if p_count.zero? %>
       No items found
  <% elsif @pagy.last_page == 1 %>
      Displaying <b><%= p_count %></b> items
  <% else %>
      Displaying items
      <b><%= number_with_delimiter(@pagy.from + 1) %>-<%= number_with_delimiter(@pagy.to) %></b>
      <% if p_count < Float::INFINITY %>
        of <b><%= number_with_delimiter(p_count) %></b> in total
      <% end %>
  <% end %>
</span>
