<%#
    needs: @records
%>
<% col_def = index_column_definitions %>
<% header_attributes = col_def.keys %>

<table class="cruddy_view_index_list">
  <%= render 'index_thead', header_attributes: header_attributes %>
  <%= render 'index_tfoot', header_attributes: header_attributes %>
  <tbody data-cruddy-view-target="newRecords">
    <%= render partial: 'index_tr', collection: @records, as: 'record', locals: { cell_procs: col_def.values } %>
  </tbody>
</table>
