<%# needs record     - a single AR instance
          cell_procs - a Proc for each column, each proc takes :record as an argument.
                       If not provided, we will look up those definitions for this tr,
                       but you should provide it if this template is called repeatedly.
%>
<%
  cell_procs = index_cell_procs unless local_assigns.has_key?(:cell_procs)
%>
<tr id="<%= dom_id(record) %>">
  <%= safe_join cell_procs.map { |cell_proc| tag.td(self.instance_exec(record, &cell_proc))} %>
</tr>
