<%#  needs:   @records
%>
<% if policy(@records.model.new).new? %>
  <%= link_to "New #{@records.model.model_name.human}",
              polymorphic_url(@records.model, action: :new),
              class: 'button',
              remote: true,
              'data-action': 'ajax:success->cruddy-view#new' %>
<% end %>