<%# needs
          @records_unpaginated - an AR Relation
          header_attributes - an array describing the index table columns
%>

<%
  if (total_col_defs = index_total_definitions).any?
%>
  <tr class="index_totals">
    <% header_attributes.each do |attribute_name| %>
      <td>
        <%=
            total_proc = total_col_defs[attribute_name]
            total_proc ? self.instance_exec(&total_proc) : nil
        %>
      </td>
    <% end %>
  </tr>
<% end %>
