<%# needs
          @records - an AR Relation, probably paginated
          header_attributes - an array describing the index table columns
%>
<thead>
  <tr>
    <% header_attributes.each do |attribute| %>
      <%= sort_header @records, attribute %>
    <% end %>
  </tr>
</thead>
