<%# needs
          @records - an AR Relation, probably paginated
          @pagy - a pagy object from the Pagy gem
          header_attributes - an array describing the index table columns
%>
<%
  num_cols = header_attributes.count
%>
<tfoot>
  <%= render "index_totals", header_attributes: header_attributes %>

  <tr class="pagination">
    <td colspan="<%= num_cols %>">
      <%= render 'index_pagination' %>
    </td>
  </tr>
  <tr class="index_actions">
    <%= tag.td render('index_actions'), colspan: num_cols %>
  </tr>
</tfoot>