<%# needs f - the form builder on a filter %>

<%
  unnaccounted_fields = f.object.unaccessed_keys
%>

<% unnaccounted_fields.each do |filter_key| %>
  <div class="index_filter_unaccounted">
    <%= f.check_box(filter_key, { include_hidden: false }, f.object[filter_key]) %>
    <%= f.label filter_key %> <%= tag.span "\"#{f.object[filter_key]}\"", class: 'current_value' %>
  </div>
<% end %>
