<% if request.xhr? %>
  <%= render 'index_table' %>
<% else %>
  <div class="cruddy_view_index"
       data-controller="cruddy-view"
       data-cruddy-view-prepends-new-records-value="false">

    <h1><%= @records.model_name.human(count: 2) %></h1>
    <%= render 'index_filter' %>
    <div data-cruddy-view-target="indexList">
      <div class="waiting_for_initial_data">
        <progress></progress>
      </div>
    </div>
  </div>
<% end %>
