table.cruddy_view_index_list {
  width: 100%;

  > thead > tr > th a[data-sort-dir]{
    display: inline-block;
    padding-right: 0.75em;
    &::after {
      font-size: 0.5em;
      padding-left: 0.5em;
      position: absolute;
    }
    &[data-sort-dir=asc] {
      &::after { content: "\25B2" attr(sortpos); }
    }
    &[data-sort-dir=desc] {
      &::after { content: "\25BC" attr(sortpos); }
    }
  }

  > tfoot {
    nav.pagination {
      padding: 0 0 1em 0;
      a, span.page { margin: 0; } // undo SimpleCSS
      span.page {
        &.gap, &.current_page {
          padding: 0.1rem 1rem; // match SimpleCSS nav > a
        }
        &.current_page {
          font-weight: bold;
        }
      }
    }
    > tr.index_actions {
      &:not(:has(td:not(:empty))) { display: none; } // hide row if there is no data showing
    }
  }
}

.cruddy_view_index {
  .waiting_for_initial_data {
    text-align: center;
    progress { width: 50%; }
  }
}
